.box-container1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.box{
    height: 60px;
    width: 60px;
    background-color: tomato;
}
.image-section img{
    margin-top: 5em;
    height: 50vh;
    width: 50%;
}
.two{
    background-color: crimson;
    border-radius: 50%;
}